.modal {
  position: fixed;
  background: rgb(17 17 17 / 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 1;
  

  &.full {
    align-items: flex-start;
    display: inline-block;

    .modal__wrapper {
      max-width: 1000px;
      margin: 10px auto;

      padding: 40px;
    }
  }

  .modal__wrapper {
    background-color: white;
    max-width: 735px;
    min-width: 300px;
    //padding: 20px;
    margin: 10px;
    border-radius: 10px;
    position: relative;

    .modal__body {
      width: 100%;
      padding: 40px;

      .modal__title {
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 2rem;
        font-weight: bold;

        @media only screen and (max-width: 500px) {
          padding: 20px 20px 20px 0px;
        }
      }
      // .modal__content {
      //   padding: 0 20px 20px 20px;

      //   p {
      //     a {
      //       border-bottom: 1px solid var(--text-color);
      //     }
      //   }

      //   @media only screen and (max-width: 500px) {
      //     padding: 0;
      //   }
      // }
    }

    .modal__close {
      position: absolute;
      top: 30px;
      right: 30px;
    }
  }
}
